.reservedRockets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.reservedRockets-item {
  display: flex;
  gap: 1rem;
}

.reservedRockets-item a {
  color: blue;
  padding: 0 0.5rem;
}
