a {
  all: unset;
}

header,
.navbar-links,
.navbar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
}

.navbar-links,
.navbar-title {
  gap: 2rem;
}

li {
  list-style: none;
}

.active {
  text-decoration: underline;
}
